<%= form_with(model: shortner, local: true) do |form| %>
  <% if shortner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shortner.errors.count, "error") %> prohibited this shortner from being saved:</h2>

      <ul>
      <% shortner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :website %>
    <%= form.url_field :website, id: :shortner_website, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
